h2
    {
    font-family: "Yu Gothic", Helvetica,sans-serif;
    color: rgb(131,113,127);
    

    }

h1
    {
        font-family: "Yu Gothic";
        font-weight: bold;
        color:rgb(131,113,127); 
    }

#about_me{
    left: 100px;
    top: 100px;
    position: absolute;
    overflow: visible;
    width: 263px;

}

#misc {
    left: 100px;
    top: 225px;
    position: absolute;
    overflow: visible;
    width: 253px;
    height: 65px;

}

#projects{
    left: 100px;
    top: 350px;
    position: absolute;
    overflow: visible;
    width: 251px;

}

#introduction{
    left: 600px;
    top: 135px;
    position: absolute;
    overflow: visible;
    width: 1000px;

}

.triangle{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 150px solid rgb(131,113,127);
    border-left: 1024px solid transparent;


}

.triangle-bottom{
    position: absolute;
    bottom: 0;
    
    border-bottom: 150px solid rgb(131,113,127);
    border-left: 1024px solid transparent;



}

.background{

    color:beige

}
