*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    background: linear-gradient(#EFE5F0,#EAA6CD);
    margin: 0 auto;
}


.header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background: #F8DCDC;
    min-height: 60px;
    height: 100%;
    color: #D0797B; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 100%;
    padding-right: 10%;
    padding-left: 10%;
}

.header li{
    list-style-type: none;
    margin-left: 5%;
}

.header ul{
    display: flex;
}

.header a{
    text-decoration: none;
    color: #D0797B;    
}

.welcome-box{
    min-height: 450px;
    min-width: 450px;
    position: relative;
    background-color: #EFB6B6;
}

.welcome-box .intro{
    position: absolute;
    bottom: 0;
    color: #AA0A0A;
    font-size: 100%;
    width: 250px;
    padding-left: 5%;
}


.image img{
    height:50%;
    width: 50%;
    top: 25%;
    left: 25%;
    border-radius: 50%;
    position: absolute;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5%;

}

.welcome h1{
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #AA0A0A;
    font-size: 500%;
}

/* fix this later */
.about{
    position: relative;
    width: 100%;
    height: 100%;
}

.path, .container-1{
  position: relative;
  width: 100%;

}

.container-1{
    top:50%;
    z-index: 0;
    color: #AA0A0A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-me{
    font-size: 300%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #AA0A0A;
}
.blurb{
    font-weight: bold;
}

.projects{
    font-size: 300%;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #AA0A0A;
}